*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #fffff5;
}


@keyframes move {
  0%{
    top:-50%;
  }
  50%{
    top:-50%;
  }
  100%{
    top:72%;
  }
}
@keyframes move_2 {
    0%{
      top:-50%;
    }
    50%{
      top:-50%;
    }
    75%{
      top:60%;
    }
    100%{
      top:50%;
    }
}
@keyframes move_3 {
    0%{
      top:-50%;
    }
    50%{
      top:70%;
    }
    100%{
      top:60%;
    }
  }
  @keyframes move_4 {
    0%{
      top:-50%;
    }
    50%{
      top:-50%;
    }
    100%{
      top:76%;
    }
  }
div.img_class{
  height: 100vh;
  background-image: url("../img/worldfameus_2.png");
  background-repeat: no-repeat;
  /* background-color: rgba(13, 13, 13, 1); */
  background-size: cover;
  overflow: hidden;
  min-width: 1140px;
}
div.banner{
  /* border : 3px solid red ; */
  position: relative;
  height: 100%;
}
div.sp_time{
  position: absolute;
  color: #e3632d;
  right: 9%;
  top:72%;
  transform:rotate(20deg);
  font-size: 40px;
  animation-name: move;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  font-family: 'Sansita Swashed', cursive;

}
div.sp_title{
  position: absolute;
  color: #e77e4d;
  right: 6%;
  top:50%;
  transform:rotate(20deg);
  font-size: 50px;
  animation-name: move_2;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  font-family: 'Sansita Swashed', cursive;

}
div.sp_team{
  position: absolute;
  color: #f94e3f;
  right: 3%;
  top:60%;
  transform:rotate(20deg);
  font-size: 60px;
  animation-name: move_3;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  font-family: 'Sansita Swashed', cursive;
}
div.monday{
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
div.monday>h1{
  color: #353866;
  font-size: 60px;
  font-family: 'Sansita Swashed', cursive;
}
div.monday_left,div.monday_right{
  display: inline-block;
  width: 500px;
 
  vertical-align: top;
}
div.monday_left_img>img,div.monday_right_img>img{
  width: 350px;
}
div.monday_right{
  padding-top: 250px;
}
div.monday_left_img_text,div.monday_right_img_text{
  color: #9055a2;
  font-size: 26px;
  font-family: 'Sansita Swashed', cursive;
  padding: 10px;
}
p{
  color: gray;
}
p.time{
  color: #9055a2;
  font-size: 26px;
  margin-bottom: 100px;
}
p.text{
  color:black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-align: left;
  
  width: 50%;
  margin: 10px auto 0 auto;
}
div.rent{
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 20px;
  background: radial-gradient(circle at 25px 25px, rgba(200,226,237,1) 0%, rgba(176,176,227,1) 45%, rgba(247,170,151,1) 100%);
  z-index: 0;
  overflow: hidden;
}
div.rent::before{
  content: " ";
  width: 30%;
  height: 100%;
  background-color: rgba(255, 255, 255 , .5 );
  z-index: 1;
  position: absolute;
  top:0;
  left:-40%;
  transform: skewX(20deg);
  transition-duration: .3s;
}
div.rent:hover::before{
  left:110%;
}

@media screen and (max-width: 1199px){

  
  div.monday{
    width: 960px ;
    margin: 0 auto;
    text-align: center;
   
  }
  div.monday_left,div.monday_right{
    display: inline-block;
    width: 400px;
    vertical-align: top;
  }
  div.img_class{
    height: 600px;
    background-image: url("../img/worldfameus_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-width: 960px;
    
  }
  
  

}
@media screen and (max-width: 991px){
  
  div.sp_time{
    right: 12%;
    top: 76%;
    animation-name: move_4;
  }
  div.monday{
    width: 720px ;
    margin: 0 auto;
    text-align: center;
   
  }
  div.monday_left,div.monday_right{
    display: inline-block;
    width: 300px;
    vertical-align: top;
  }
  div.img_class{
    height: 600px;
    background-image: url("../img/worldfameus_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-width: 720px;
    
  }
  div.monday_left_img>img,div.monday_right_img>img{
    width: 250px;
  }

  
}
@media screen and (max-width: 767px){
 

  div.sp_time{
    right: 12%;
    top: 76%;
    animation-name: move_4;
  }
  div.monday{
    width: 540px ;
    margin: 0 auto;
    text-align: center;
   
  }
  div.monday_left,div.monday_right{
    display: inline-block;
    width: 300px;
    vertical-align: top;
  }
  div.img_class{
    height: 600px;
    background-image: url("../img/worldfameus_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-width: 540px;
    
  }
  div.monday_left_img>img,div.monday_right_img>img{
    width: 250px;
  }
  div.monday_right{
    padding-top: 0px;
  }
  
}
@media screen and (max-width: 575px){
 

  div.sp_time{
    right: 12%;
    top: 76%;
    animation-name: move_4;
  }
  div.monday{
    width: 100% ;
    margin: 0 auto;
    text-align: center;
   
  }
  div.monday_left,div.monday_right{
    display: inline-block;
    width: 300px;
    vertical-align: top;
  }
  div.img_class{
    height: 600px;
    background-image: url("../img/worldfameus_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-width: 100%;
    
  }
  div.monday_left_img>img,div.monday_right_img>img{
    width: 250px;
  }
  div.monday_right{
    padding-top: 0px;
  }
  
  div.sp_time{
    position: absolute;
    color: #e3632d;
    right: 20%;
    top:72%;
    transform:rotate(20deg);
    font-size: 20px;
    animation-name: move;
    animation-duration: 4.5s;
    animation-timing-function: ease-in-out;
  
  }
  div.sp_title{
    position: absolute;
    color: #e77e4d;
    right: 6%;
    top:50%;
    transform:rotate(20deg);
    font-size: 40px;
    animation-name: move_2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  
  }
  div.sp_team{
    position: absolute;
    color: #f94e3f;
    right: 3%;
    top:60%;
    transform:rotate(20deg);
    font-size: 40px;
    animation-name: move_3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
  }
  div.rent{
    transform: scale(.7);
    right:0;
    bottom:0;
  }
  
}