*{
  box-sizing: border-box;
}
body{
  margin: 0;
font-family: 'Inconsolata', monospace;

}
/* img{
  min-width: 100%;
} */
a{
    text-decoration:none;
}

div.header{
  width: 1140px;
  margin: 0 auto;
  font-size: 0;
 

}
div.header_bg{
  background-color: #fffff5;;
  width: 100%;
  min-width: 1140px;
}
div.logo{
  display: inline-block;
  vertical-align: bottom;
  /* border: 1px solid black; */
}
img.logo{
  width: 100px;
}
div.nav{
  display: inline-block; 
  width: 800px;
  /* border: 1px solid black; */
  text-align: center;
  margin-left: 200px;
}
ul.nav{
  padding: 0;
}
ul.nav>a, ul.nav>li{
  display: inline-block;
  font-size: 24px;
  padding: 20px;
  color: #353866;
  position: relative;
  cursor: pointer;
  font-family: 'Sansita Swashed', cursive;
}
ul.nav>a{
  color:#353866;
}
ul.nav>a>li.line::before ,ul.nav>li.line::before {
  content: " ";
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: 20%;
  background-color: #8ec0e4;
  transition: .3s;
}
ul.nav>li.page{
  background-color:#8ec0e4;
  border-radius: 10px 10px 0 0  ;

}
ul.nav>a>li.line:hover::before{
  width: 65%;
}
ul.nav>li.line:hover::before{
  width: 65%;
}
ul.nav>a{
  list-style: none;
  text-decoration: none;
}
div.instruction{
  position: relative;
}
ul.list{
  list-style: none;
  position: absolute;
  left: 15%;
  padding: 0;
  z-index: 2;
  background-color: #fffff5;
  border-radius: 10px;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition-duration: 1s;
}
ul.list>a>li{
  padding: 10px;
  /* border-bottom: 1px solid white; */
  color: #353866;
  text-align: center;
}
ul.list>li{
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}
div.instruction:hover ul.list{
  visibility: visible;
  height: 200px;
  opacity: 1;
}
div.user{
  width: 60px;
  height: 60px;
  vertical-align: bottom;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 30px;
  overflow: hidden;
  padding: 0 ;
  display: none;
 
}
img.user{
  width: 60px;
}
div.instruction>span{
  position: relative;
  cursor:pointer;
  margin-right:10px ;
}
div.instruction>span:after{
  content: " ";
  border-top: 8px solid #353866 ;
  border-right:8px solid#fffff5 ;
  border-bottom: 8px solid#fffff5;
  border-left:8px solid#fffff5 ;
  position: absolute;
  top:50%;
  right: -15%;
}
div.instruction>span.page:after{
  content: " ";
  border-top: 8px solid #353866 ;
  border-right:8px solid #8ec0e4 ;
  border-bottom: 8px solid #8ec0e4;
  border-left:8px solid #8ec0e4 ;
  position: absolute;
  top:50%;
  right: -15%;
}
div.burger{
  display: none;
}
div.bread>li{
  display: inline-block;
  padding: 10px;
}
div.bread>li::after{
  content: ">";
  margin-left: 20px;
}
div.bread>li:last-child::after{
  content: " ";
}
div.bread>li>a{
  color: #353866;
  font-family: 'Sansita Swashed', cursive;
  font-size: 20px;
}
div.bread>li:last-child{
  color: #9055a2;
  font-family: 'Sansita Swashed', cursive;
  font-size: 20px;
}
div.bread>li>a:hover{
  color:#6aafe6;
}
/* ======================================== */
.login-box {
  position: fixed;
  top: 50%;
  left: 50%; 
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%); 
  background: rgba(3, 52, 80, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(49, 50, 61, 0.6);
  border-radius: 10px;
  z-index: 99;
  display: none;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form p {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box p:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
}

.login-box p span {
  position: absolute;
  display: block;
}

.login-box p span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }

  50%,
  100% {
      left: 100%;
  }
}

.login-box p span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
      top: -100%;
  }

  50%,
  100% {
      top: 100%;
  }
}

.login-box p span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
      right: -100%;
  }

  50%,
  100% {
      right: 100%;
  }
}

.login-box p span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }

  50%,
  100% {
      bottom: 100%;
  }
}
div.login_submit{
  text-align: center;
}
div.sign_up{
text-align: center;

}

div.sign_up>a{
  color: #03e9f4;

}
