*{
  box-sizing: border-box;
}
body{
  margin: 0;
font-family: 'Sansita Swashed', cursive;

}
/* img{
  min-width: 100%;
} */
a{
    text-decoration:none;
}

div.header{
  
  width: 1140px;
  margin: 0 auto;
  font-size: 0;
 

}
div.header_bg{
  background-color: #d4dfe6;;
  width: 100%;
  min-width: 1140px;
}
div.logo{
  display: inline-block;
  vertical-align: bottom;
  /* border: 1px solid black; */
}
img.logo{
  width: 100px;
}
div.nav{
  display: inline-block; 
  width: 800px;
  /* border: 1px solid black; */
  text-align: center;
  margin-left: 200px;
}
ul.nav{
  padding: 0;
}
ul.nav>li{
  display: inline-block;
  font-size: 24px;
  padding: 20px;
  color: #353866;
  position: relative;
}
ul.nav>li>a{
  color:#353866;
}
ul.nav>li.line::before{
  content: " ";
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: 20%;
  background-color: #8ec0e4;
  transition: .3s;
}
ul.nav>li.line:hover::before{
  width: 65%;
}
ul.nav>li>a{
  list-style: none;
  text-decoration: none;
}
div.instruction{
  position: relative;
}
ul.list{
  list-style: none;
  position: absolute;
  left: 15%;
  padding: 0;
  z-index: 2;
  background-color: #6aafe6;
  border-radius: 10px;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition-duration: 1s;
}
ul.list>li{
  padding: 10px;
  /* border-bottom: 1px solid white; */
}
ul.list>li>a{
  text-decoration: none;
  font-size: 16px;
}
div.instruction:hover ul.list{
  visibility: visible;
  height: 200px;
  opacity: 1;
}
div.instruction>span{
  position: relative;
  cursor:pointer;
}
div.instruction>span:after{
  content: " ";
  border-top: 8px solid #353866 ;
  border-right:8px solid#d4dfe6 ;
  border-bottom: 8px solid #d4dfe6;
  border-left:8px solid#d4dfe6 ;
  position: absolute;
  top:50%;
  right: -15%;
}
div.burger{
  display: none;
}
div.fb_top,div.ig_top{
  display: none;
}

div.bread>li{
  display: inline-block;
  padding: 10px;

}
div.bread>li::after{
  content: ">";
  margin-left: 20px;

}
div.bread>li:last-child::after{
  content: " ";
  
}
div.bread>li>a{
  color: #353866;
}
div.bread>li:last-child{
  color: #9055a2;
}
div.bread>li>a:hover{
  color:#6aafe6;
}

