div.banner_video{
  position: relative;
  font-size: 0;
}
div.video_text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 200px;
  color: white;
  opacity: .5;
  text-shadow: 3px 3px 3px black;
  font-family: 'Sansita Swashed', cursive;
}


@media screen and (max-width: 1199px){
  div.video_text{
    font-size: 200px;
  }
}
@media screen and (max-width: 991px){
  div.video_text{
    font-size: 150px;    
  }
}

@media screen and (max-width: 767px){
  div.video_text{
    font-size: 100px;
  }
}
@media screen and (max-width: 575px){
}
/* ========================================== */
div.BG2{
  background-color: #fffff5;
  width: 100%;
  min-width: 1140px;
}
h1.title_new{
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #353866;
  padding-top: 50px;
  font-size: 60px;
  font-family: 'Sansita Swashed', cursive;
}
div.new_block{
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
div.new1,div.new2,div.new3{
  display: inline-block;
  width: 300px;
  margin: 30px; 
  vertical-align: top;
 
}
div.new_img1,div.new_img2,div.new_img3{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition-duration: 1s;
  margin: 0 auto;
  cursor: pointer;
}
div.new_img1:hover,div.new_img2:hover,div.new_img3:hover{
  border-radius: 20px;
}
img.new{
  width: 100%;
  height: 100%;
}
p.new{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

div.more_1{
  padding-bottom: 30px;
  text-align: right;
  font-size: 20px;
}
div.news_lightbox{
  width: 700px;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  background-color:rgba(0,0,0,.8);
  z-index: 999;
  padding: 60px;
  display: none;
  border-radius: 10px;
}
div.news_lightbox_img>img{
  width: 100%;

}
div.news_lightbox_text{
  color: #d4dfe6;
}
button.close1,button.close2,button.close3{
  position: absolute;
  top:3%;
  right: 3%;
  background-color:rgba(0,0,0,.8);
  border: 1px solid white;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 1199px){
  div.BG2{
    min-width: 960px;
  }
  div.new_block{
    width: 960px;
  }
  div.new1,div.new2,div.new3{
    width: 250px;
  }
  div.new_img1,div.new_img2,div.new_img3{
    width: 200px;
    height: 200px;
    
  }
}
@media screen and (max-width: 991px){
  div.BG2{
    min-width: 720px;
  }
  div.new_block{
    width: 720px;
  }
  div.new1,div.new2,div.new3{
    width: 170px;
  }
  div.new_img1,div.new_img2,div.new_img3{
    width: 170px;
    height: 170px;
    
  }
}

@media screen and (max-width: 767px){
  div.BG2{
    min-width: 540px;
  }
  div.new_block{
    width: 540px;
  }
  div.new1,div.new2,div.new3{
    width: 300px;
    display: block;
    margin: 80px auto 0 auto;
  }
  div.new_img1,div.new_img2,div.new_img3{
    width: 250px;
    height: 250px;  
  }
  div.news_lightbox{
    width: 100%;
    padding: 40px;
  }
}
 


@media screen and (max-width: 575px){
  div.BG2{
    min-width: 100%;
  }
  div.new_block{
    width: 100%;
  }
  div.new1,div.new2,div.new3{
    width: 100%;
    
  }
  div.new_img1,div.new_img2,div.new_img3{
    width: 250px;
    height: 250px;  
  }
  
}
/* ===================intro========================================= */
div.intro{
  background-color: rgba(53,56,102,.8);
}
div.intro_block{
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 100px 0;
}
h1.class_title{
  text-align: center;
  font-size: 60px;
  font-family: 'Sansita Swashed', cursive;
  color: #fffff5;
}
button.class,button.style{
  padding: 10px 50px 10px 50px;
  margin: 30px 0px 30px 0px;
  font-size: 30px;
  /* border: 0; */
  background-color: rgba(53,56,102,0);
  position: relative;
  outline: none;
  overflow: hidden;
  color: #fffff5;
}

div.line_class{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53,56,102,.3);
  display: none;

}
div.line_style{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53,56,102,.3);
  

}

img.class1{
  width: 250px;
  height: 100%;
  font-size: 16px;
}
img.class2{
  width: 250px;
  height: 310px;
  font-size: 16px;
}
div.class1,div.class2,div.class3,div.class4{
  display: inline-block;
  position: relative;
  margin: 10px;
  margin-bottom: 50px;
  overflow: hidden;
  font-size: 0;
  width: 250px;

}
p.class_text{
  position: absolute;
  top: 30%;
  width: 250px;
  font-size: 30px;
  background:radial-gradient(circle at 50% 50%, rgba(53,56,102,1)0%,rgba(53,56,102,.8)50%,rgba(255,255,255,0)100%) ;
  opacity: .7;
  padding: ;
  font-size: 36px;
  color: #fff;
}
div.class1::before,div.class2::before,div.class3::before,div.class4::before{
  content: " ";
  width: 30%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  z-index: 1;
  position: absolute;
  top:0;
  left:-60%;
  transform: skewX(20deg);
  transition-duration: .5s;
}
div.class1:hover::before,div.class2:hover::before,div.class3:hover::before,div.class4:hover::before{
  left:140%;
}

div.class1:hover p.class_text,div.class2:hover p.class_text,div.class3:hover p.class_text,div.class4:hover p.class_text{
  opacity: 1;
}
div.class_style{
  display: none;
}
h2.title2{
  color: #fffff5;
}
div.grade_intro>ul>li{
  text-align: left;
  color:white;
}
@media screen and (max-width: 1199px){
  div.intro_block{
    width: 800px;
    
  }

}
@media screen and (max-width: 991px){
  div.intro_block{
    width: 720px;
   
  }
}

@media screen and (max-width: 767px){
  div.intro_block{
    width: 540px;
    
  }
  div.class1,div.class2,div.class3,div.class4{
   
    width: 200px;
  
  }
  img.class1{
    width: 200px;
    height: 100%;
   
  }
  img.class2{
    width: 200px;
    height: 240px;
 
  }
  p.class_text{
    width: 200px;
    
  }
 

}
@media screen and (max-width: 575px){
  div.intro_block{
    width: 100%;
    
  }
  div.class1,div.class2,div.class3,div.class4{
   
    width: 250px;
  
  }
  img.class1{
    width: 250px;
    height: 100%;
   
  }
  img.class2{
    width: 250px;
    height: 310px;
 
  }
  p.class_text{
    width: 250px;
    
  }
}


/* ===================course======================================================== */
@keyframes scale_1{
  0%{
    transform: translate(35% ,-50%)rotate(0deg) scaleX(1) scaleY(1);
  }
  33%{
    transform: translate(35% ,-50%)rotate(120deg) scaleX(.7) scaleY(.7);
  }
  66%{
    transform: translate(35% ,-50%)rotate(240deg) scaleX(1.1) scaleY(1.1);
  }
  100%{
    transform: translate(35% ,-50%)rotate(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes scale_2{
  0%{
    transform: translate(35% ,-50%)rotate(45deg) scaleX(1) scaleY(1);
  }
  33%{
    transform: translate(35% ,-50%)rotate(-75deg) scaleX(1.1) scaleY(1.1);
  }
  66%{
    transform: translate(35% ,-50%)rotate(-195deg) scaleX(.7) scaleY(.7);
  }
  100%{
    transform: translate(35% ,-50%)rotate(-315deg) scaleX(1) scaleY(1);
  }
}
@keyframes scale_3{
  0%{
    transform: translate(35% ,-50%)rotate(45deg) scaleX(1) scaleY(1);
  }
  33%{
    transform: translate(35% ,-50%)rotate(-75deg) scaleX(1.1) scaleY(1.1);
  }
  66%{
    transform: translate(35% ,-50%)rotate(-195deg) scaleX(.7) scaleY(.7);
  }
  100%{
    transform: translate(35% ,-50%)rotate(-315deg) scaleX(1) scaleY(1);
  }
}
div.course{
  background-color: #fffff5;
}
div.class_list{
  width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
  font-size: 0;
  text-align: center;
  padding-top:100px;
  padding-bottom: 50px;
}
h2.title_1{
  font-size: 16px;
  padding: 20px;
  font-family: 'Sansita Swashed', cursive;
}
div.class_list_img{
  width: 600px;
  display: inline-block;
  position: relative;
}
img.class_list_img{
  /* border: 1px solid black; */
  font-size: 16px;
  width: 600px;
  
}
div.class_list_rightside{
  /* border: 2px solid red; */
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  width: 500px;
  height: 400px;
  position: relative;
}
div.list_text{
    text-align:center;
 
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(10% ,-50%);
  z-index: 2;
}
div.list_text>h1{
  margin-bottom: 0;
  color: #353866;

}
div.list_text>p{
  margin: 0;
  color: #9055a2;
}

div.class_list_button{
  padding:5px 0 5px 0 ;
  color: #fffff2;
  background-color: #4f86c6;
  

}

div.class_list_block1{
  border: 2px solid orange;
  padding: 150px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(35% ,-50%)
  rotate(0deg) scaleX(1) scaleY(1) ;
  animation-name: scale_1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}
div.class_list_block2{
  border: 2px solid blue;
  padding: 150px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(35% ,-50%)
  rotate(45deg) scaleX(1) scaleY(1);
  animation-name: scale_2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}
div.class_list_block3{
  border: 2px solid black;
  padding: 150px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(35% ,-50%)
  rotate(23deg) scaleX(1) scaleY(1);
  animation-name: scale_3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 
}
@media screen and (max-width: 1199px){
  div.class_list{
    width: 960px;
   
  }
  div.class_list_img{
    width: 500px;
    
  }
  img.class_list_img{
   
    font-size: 16px;
    width: 500px;
    
  }
  div.class_list_rightside{
    width: 400px;
    height: 300px;
    
  }
}
@media screen and (max-width: 991px){
  div.class_list{
    width: 720px; 
  }
  div.class_list_img{
    width: 400px;
  }
  img.class_list_img{
    font-size: 16px;
    width: 400px;
  }
  div.class_list_rightside{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    
  }
 
  div.class_list_block1{
    padding: 100px;  
    top: 55%;
    right: 55%;
  }
  div.class_list_block2{
    padding: 100px;
    top: 55%;
    right: 55%;
  }
  div.class_list_block3{
    padding: 100px; 
    top: 55%;
    right: 55%;
  }
}

@media screen and (max-width: 767px){
  div.class_list{
    width: 540px;
  }
  img.class_list_img{
    display: none;
  }
  div.class_list_rightside{
    display: block;
    width: 500px;
    height: 400px;
    margin-top: 0px;
   
  }
  div.class_list_block1{ 
    padding: 150px; 
    top: 50%;
    right: 40%;
  }
  div.class_list_block2{
    padding: 150px; 
    top: 50%;
    right: 40%;
  }
  div.class_list_block3{
    padding: 150px; 
    top: 50%;
    right: 40%;
  }
  div.list_text{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50% ,-50%);
  
}
 

}
@media screen and (max-width: 575px){
  div.class_list{
    width: 100%;
  }
  div.class_list_rightside{
    display: block;
    width: 100%;
    height: 400px;

  }
  div.class_list_block1{
    padding: 110px;  
    top: 55%;
    right: 42%;
  }
  div.class_list_block2{
    padding: 110px;
    top: 55%;
    right: 42%;
  }
  div.class_list_block3{
    padding: 110px; 
    top: 55%;
    right: 42%;
  }
}
/* ===========team================================================= */
div.teacher_box{
  background-color: #fffff5;
  padding-bottom: 150px;
}
div.teacher_block{
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
h1.teacher_title{
  font-size: 60px;
  text-align: center;
  margin-bottom: 120px;
  font-family: 'Sansita Swashed', cursive;
  color:   #353866;
}
img.teacher{
  width: 150px;
}
div.teacher_img{
  border-radius: 50% ;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  position: absolute;
  left: 25%;
  top:-30%;
  box-shadow: 3px 3px 3px black ;
}
div.teacher{
  display: inline-block;
  width: 300px;
  margin: 30px;
  border: 1px solid black;
  position: relative;
  box-shadow: 3px 3px 3px black ;
  transition-duration: .5s;
  cursor: pointer;

}
div.teacher:hover{
  transform: scale(1.3);

}
p.teacher_text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: 70px;
  padding: 20px;
 
}
h3.teacher_name{
  background-color: rgba(53,56,102,.8);
  margin-bottom: 0;
  padding: 20px 0 20px 0;
  
}
@media screen and (max-width: 1199px){
  div.teacher_block{
    width: 960px;
  }
    img.teacher{
      width: 150px;
    }
    div.teacher_img{
      border-radius: 50% ;
      overflow: hidden;
      width: 150px;
      height: 150px;
      border: 1px solid black;
      position: absolute;
      left: 20%;
      top:-30%;
      box-shadow: 3px 3px 3px black ;
    }
    div.teacher{
      display: inline-block;
      width: 260px;
      margin: 20px;
      border: 1px solid black;
      position: relative;
      box-shadow: 3px 3px 3px black ;
      transition-duration: .5s;
    
    }
  }


@media screen and (max-width: 991px){
  div.teacher_block{
    width: 720px;
  
  }
  div.teacher_img{
    border-radius: 50% ;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    left: 12%;
    top:-30%;
    box-shadow: 3px 3px 3px black ;
  }
  div.teacher{
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    box-shadow: 3px 3px 3px black ;
    transition-duration: .5s;
  
  }
}

@media screen and (max-width: 767px){

  div.teacher_block{
    width: 540px;
  
  }
  div.teacher_img{
    border-radius: 50% ;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    left: 25%;
    top:-30%;
    box-shadow: 3px 3px 3px black ;
  }
  div.teacher{
    display: inline-block;
    width: 300px;
    margin: 30px;
    margin-bottom: 100px;
    border: 1px solid black;
    position: relative;
    box-shadow: 3px 3px 3px black ;
    transition-duration: .5s;
  
  }
}
@media screen and (max-width: 575px){
  div.teacher_block{
    width: 100%;
  
  }
  div.teacher:hover{
    transform: scale(1);
  
  }
}


/* ==================iteams================================== */
div.item_bottom_bg,div.item_bottom_bg_mini{
  width: 100%;
  background-image: url("../img/banner_7.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  min-width: 1140px;
  
}
div.item_bottom_bg_mini{
  display: none;
}
div.top_banner_text,div.top_banner_text_mini{
  padding: 20px;
  width: 100%;
  overflow: hidden;
}
img.shirt{
  width: 250px;
}
img.shirt_mini{
  width: 100%;
}
div.items_btn{
  text-align: center;
}
button.items{
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  transition: 1s;
  background-color:rgba(53,56,102,.5);
  color: #fff;
  border: 0;
  cursor: pointer;
}
button.items:hover{
  background-color:rgba(53,56,102,1);
}
@media screen and (max-width: 1199px){
  div.item_bottom_bg{
    
    min-width: 920px;
  }

}
@media screen and (max-width: 991px){
  div.item_bottom_bg{
    
    min-width: 720px;
  }
}

@media screen and (max-width: 767px){
  div.item_bottom_bg{
    
    min-width: 540px;
  }
 

}
@media screen and (max-width: 575px){
  div.item_bottom_bg{
    
    min-width: 100%;
    display: none;
  }
  div.item_bottom_bg_mini{
    width: 100%;
    min-width: 100%;
    display: block;
  }
  
}
/* =================customer============================================ */
div.customer{
  background-color: #fffff5;
  padding-bottom: 100px;
}
div.customers_block{
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
h1.customers_title{
  font-size: 60px;
  margin-top: 100px;
  font-family: 'Sansita Swashed', cursive;
  color:  #353866;
}
div.customer_box{
  display: inline-block;
  width: 200px;
  margin: 30px;
}
img.customer{
  width: 200px;
}
div.customer_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
p.customer_text{
  background-color: #fffff5;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  text-align: left;
  padding: 10px;
  
}
p.customer_text::before{
  background-color: #fffff5;
  content: " ";
  width: 20px;
  height: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  bottom: -12px;
  left: 70%;
  transform: rotate(45deg);
  z-index: 2;
}
@media screen and (max-width: 1199px){
  div.customers_block{
    width: 920px;
    margin: 0 auto;
    text-align: center;
  }
  div.customer_box{
    display: inline-block;
    width: 150px;
    margin: 30px;
  }

}
@media screen and (max-width: 991px){
  div.customers_block{
    width: 720px;
    margin: 0 auto;
    text-align: center;
  }
  div.customer_box{
    display: inline-block;
    width: 200px;
    margin: 30px;
  }
}

@media screen and (max-width: 767px){
  div.customers_block{
    width: 540px;
    margin: 0 auto;
    text-align: center;
  }
 

}
@media screen and (max-width: 575px){
  div.customers_block{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}


/* ===================space=================== */
div.space_bg{
  background-image: url("../img/intro_mini.jpg");
  background-position: center center;
  background-size: cover;
}
div.space{
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  
}
img.map{
  width: 500px;
}
div.title_space>h1,div.img_space{
  text-align: center;
}
div.title_space>h1{
  color: #353866;
  padding: 100px 0 40px 0;
  font-size: 60px;
  margin: 0;
  font-family: 'Sansita Swashed', cursive;
}
div.space_infro>ul>li{
  list-style: none;
  font-size: 20px;
  color: white;
  background-color:rgba(0,0,0,.6);
  padding: 20px;
  
  
}
div.space_infro>ul{
  border-radius: 40px;
  overflow: hidden;
  margin-left: 40px;
  padding: 0;

}
div.img_space{
  display: inline-block;
  width: 500px;
}
div.space_infro{
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

div.space_buttom_block{
  width: 160px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 60px;
}
div.space_buttom{
  font-size: 20px;
  padding: 20px;
  text-align: center;
  transition: 1s;
  background-color: #4f86c9;
  color: #fffff2;
}
div.space_buttom:hover{
  border-radius: 50px;
}
@media screen and (max-width: 1199px){
  div.space{
    width: 960px;
    margin: 0 auto;
    
  }
  img.map{
    width: 450px;
  }
  div.img_space{
    display: inline-block;
    width: 450px;
    
  }
  div.space_infro{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    
  }
  

}
@media screen and (max-width: 991px){
  div.space{
    width: 720px;
    margin: 0 auto;
    
  }
  img.map{
    width: 500px;
  }
  div.img_space{
    display: block;
    width: 500px;
    margin: 0 auto;
  }
  div.space_infro{
    display: block;
    
    width: 700px;
    margin: 0 auto;
  }
  div.space_buttom_block{
    width: 160px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  div.space_infro>ul{
    border-radius: 40px;
    overflow: hidden;
    margin-left: 0px;
    padding: 0;
  
  }
 
}

@media screen and (max-width: 767px){
  div.space{
    width: 540px;
    margin: 0 auto;
    
  }
  img.map{
    width: 500px;
  }
  div.space_infro{
    display: block;
    
    width: 500px;
    margin: 0 auto;
  }
  
  div.space_buttom_block{
    width: 160px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }
 

}
@media screen and (max-width: 575px){
  div.space{
    width: 100%;
    margin: 0 auto;
    
  }
  img.map{
    width: 100%;
  }
  div.img_space{
   
    width: 100%;
  }
  div.space_infro{
    
   
    width: 95%;
    margin: 0 auto;
  }
}