*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

div.img_class{
  height: 600px;
  width:100%;
  overflow: hidden;
  background-image: url("../img/class.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-width: 1200px;
 }
 
 div.body{
   width: 1200px;
   margin: 0 auto;
 }
 h1{
   text-align: center;
   color: #353866;
 }
 div.new{
   text-align: center;
 }
 div.img{
   overflow: hidden;
 }
 div.new1:hover img ,div.new2:hover img ,div.new3:hover img{
   transform: scale(1.3);
 }

 img{
   width: 300px;
   transform: scale(1);
   transition-duration: 1.5s;
 }
 div.new1,div.new2,div.new3{
   display: inline-block;
   font-size: 0;
   margin-right: 10px;
   margin-bottom: 20px;
   background-color: #f0e5de;
 }
 div.date1,div.date2,div.date3,div.text{
   margin-top: 10px;
   display: inline-block;
   font-size: 16px;
   vertical-align: top;
   color: #9055a2;
 }
 div.date1,div.date2,div.date3{
   width: 90px;
   margin-right: 10px;
   box-shadow: 0 0 0 black;
   transition-duration: 2s;
   background-color: #d9d4cf;
 }
 div.new1:hover div.date1,div.new2:hover div.date2,div.new3:hover div.date3{
 box-shadow: 5px 5px 10px #7c7877;
 }
 div.text{
   width: 200px;
 }
 p.day{
   font-size: 30px;
   margin-top: 10px;
   margin-bottom: 5px;

 }
 p.name{
   margin-top: 10px;
   font-size: 20px;
   color: #9055a2;
   overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
 }
 p.text{
   color: #d499b9;
   overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
 }
