body{
  background-color: #fffff5;
}
div.bread>li:nth-child(3)::after{
  content: "/";
  margin-left:4px ;
  
}
div.bread>li:nth-child(3){
  padding: 0;
  padding-left: 10px;
}
div.bread>li:nth-child(4){
  padding: 0;
}

div.body_11{
  background-image: url("../img/crent.jpg") ;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
}
div.img_rent{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
img.row{
  width: 100%;
  
}
p.rent{
  position: absolute;
  top:50%;
  left: 40%;
  color: #fff;
  font-family: 'Sansita Swashed', cursive;
  font-size: 36px;
  padding: 50px;
  text-align: right;
  opacity: .8;
}


/* ====================form======================================== */
div.form_block{
  height: 140vh;
  background-image: url("../img/intro_mini.jpg");
  background-position: center center;
  background-size: cover;
 overflow: hidden;
}

div.form_click_btn{
  text-align: center;
  
}
@keyframes drop{
  0%{
    transform: translate(0,0 ) rotate(0);
    
  }10%{
    transform: translate(2px,0) rotate(5deg);
  }20%{
    transform: translate(-2px,0) rotate(-5deg);
  }30%{
    transform: translate(2px,0) rotate(5deg);
  }40%{
    transform: translate(-2px,0) rotate(-10deg);
  }50%{
    transform: translate(2px,0) rotate(10deg);
  }100%{
    transform: translate(0,200px) rotate(10deg) scale(2);
    opacity: 0;
    visibility: hidden;
    
  }
}
@keyframes drop2{
  0%{
    transform: translate(0,0 ) rotate(0);
    
  }10%{
    transform: translate(2px,0) rotate(5deg);
  }20%{
    transform: translate(-2px,0) rotate(-5deg);
  }30%{
    transform: translate(2px,0) rotate(5deg);
  }40%{
    transform: translate(-2px,0) rotate(-10deg);
  }50%{
    transform: translate(2px,0) rotate(10deg);
  }100%{
    transform: translate(-200px,200px) rotate(10deg) scale(2);
    opacity: 0;
    visibility: hidden;
    
  }
}
@keyframes drop3{
  0%{
    transform: translate(0,0 ) rotate(0);
    
  }10%{
    transform: translate(2px,0) rotate(5deg);
  }20%{
    transform: translate(-2px,0) rotate(-5deg);
  }30%{
    transform: translate(2px,0) rotate(5deg);
  }40%{
    transform: translate(-2px,0) rotate(-10deg);
  }50%{
    transform: translate(2px,0) rotate(10deg);
  }100%{
    transform: translate(200px,200px) rotate(10deg) scale(2);
    opacity: 0;
    visibility: hidden;
    
  }
}

.on{
  animation-name: drop ;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.on2{
  animation-name: drop2 ;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.on3{
  animation-name: drop3 ;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
button.click_sign,button.click_class,button.click_room{
  padding: 20px 50px 20px 50px;
  cursor: pointer;
  border: 0;  
  margin-top: 50px;
  background: rgba(3, 52, 80, 0.8);
  color: #fff;
  font-size: 16px;
}
div.form_sign{
  display: none;
}
div.form_class{
  display: none;
}

div.form_room{
  display: none;
}


.form_box {
  width: 800px;
  padding: 40px;
  background: rgba(3, 52, 80, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  margin: 50px auto 50px auto;
}

.form_box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 36px;
}

label {
  color: #fff;
  font-size: 18px;
}

.form_box .label_box {
  position: relative;
}

.form_box .label_box input {
  /* width: 100%; */
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form_box .label_box label.name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.form_box .label_box input:focus~label.name,
.form_box .label_box input:valid~label.name {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 14px;
}

label.room {
  font-size: 14px;
}

.form_box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.form_box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
}

.form_box a span {
  position: absolute;
  display: block;
}

.form_box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }

  50%,
  100% {
      left: 100%;
  }
}

.form_box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
      top: -100%;
  }

  50%,
  100% {
      top: 100%;
  }
}

.form_box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
      right: -100%;
  }

  50%,
  100% {
      right: 100%;
  }
}

.form_box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }

  50%,
  100% {
      bottom: 100%;
  }
}


.form_left,
.form_right {
  display: inline-block;
  padding: 50px 50px 20px 50px;
  width: 350px;
  vertical-align: bottom;
}

.width {
  width: 100%;
}
.date_class{
  /* border: 2px solid black; */
  margin-bottom: 30px;
  text-align: center;
}

.form_btn {
  text-align: center;
}

.room_title {
  margin-bottom: 20px;
}

textarea.ps {
  margin-top: 10px;
  resize: none;
}

div.class_time {
  margin-bottom: 20px;
}

div.ps_class {
  width: 300px;
  margin: 0 auto;

}

@media screen and (max-width: 1199px){
  div.img_rent{
    width: 800px;
  }
  p.rent{
    position: absolute;
    top:50%;
    left: 40%;
    font-size: 30px;
  }
}
@media screen and (max-width: 991px){

  div.img_rent{
    width: 700px;
  }
  p.rent{
    position: absolute;
    top:40%;
    left: 30%;
    font-size: 30px;
  }
  .form_box {
    width: 700px;
    border: 1px solid black;
  }
  .form_left,
.form_right {
  display: inline-block;
  padding: 50px 20px 20px 20px;
  width: 300px;
  vertical-align: bottom;
}
}
@media screen and (min-width: 768px){

}
@media screen and (max-width: 767px){
  div.img_rent{
    width: 100%;
    overflow: hidden;
  }
  p.rent{
    position: absolute;
    top:50%;
    left: 15%;
    font-size: 24px;
    margin: 0;
  }
  .form_box {
    width: 540px;
    padding: 20px;
    
    
  }
  .form_left,
.form_right {
  display: inline-block;
  padding: 50px 5px 20px 5px;
  width: 240px;
  vertical-align: top;
}

div.form_block{
  height: 140vh;
 

}
}
@media screen and (max-width: 575px){
  div.img_rent{
    width: 100%;
  }
  p.rent{
    position: absolute;
    top:40%;
    left: 0%;
    font-size: 16px;
  }
  .form_box {
    width: 100%;
  }
  button.click_sign,button.click_class,button.click_room{
    padding: 20px 20px 20px 20px;
  }
  .form_left,
.form_right {
  display: block;
  padding: 50px 50px 20px 50px;
  width: 100%;
  
}
div.form_block{
  height: 1300px;
 

}
}
